@media (max-width: 768px) {

    .desktop-1,
    .desktop-1 * {
        display: block;
        box-sizing: border-box;
    }

    .desktop-1 {
        background: #6cc6d4;
        height: 100vh;
        /* Chiều cao bằng toàn bộ màn hình */
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px; /* Đảm bảo khoảng cách khi thu nhỏ */
    }

    .frame-13 {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
        text-align: center;
        max-width: 90%; /* Giới hạn độ rộng */
    }

    .bt-tb {
        color: #ffffff;
        font-family: 'Montserrat-Bold', sans-serif;
        font-size: 30px;
        font-weight: 700;
    }

    .bt-logo {
        width: 300px;
        height: auto;
        object-fit: cover;
    }

    .bt-nd {
        color: #ffffff;
        font-family: 'Montserrat-Bold', sans-serif;
        font-size: 20px;
        font-weight: 700;
        max-width: 80%;
        /* Giới hạn độ rộng */
        line-height: 1.5;
    }

    .header,
    .hero,
    .cummay,
    .Veminh,
    .container-tong,
    .custom-shape-divider-bottom-1739004864,
    .footer {
        display: none;
    }
}