section {
    display: flex;
}

body {
    background-color: #6CC6D4;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;


}

/* Header container */
.header {
    width: 100%;
    height: auto;

    padding: 20px 40px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 40px;
    z-index: 10;
    margin-bottom: 150px;
    overflow: hidden;
}

/* Thanh điều hướng */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.logo {
    position: relative;
    margin-right: 40px;
    top: -10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
    /* Phóng to */
    
    /* Đổ bóng */
}

.pagination {
    display: flex;
    gap: 100px;
}

.dashboard,
.taichinh,
.veminh {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
}

/* Nút đăng nhập */
.btn-login {
    background: #ffffff;
    border-radius: 40px;
    padding: 10px 20px;
    transition: transform 0.3s ease;
}

.dangnhap {
    color: #2aacc0;
    font-size: 25px;
    font-weight: 700;
    transition: transform 0.3s ease;
}




/* Hero */
.hero {

    display: flex;
    align-items: center;
    justify-content: center;
    /* Điều chỉnh khoảng cách giữa các phần tử */
    margin-top: 50px;



}

.hero_content {
    margin-top: 100px;
    position: relative;
    top: -50px;
    left: 50px;
    font-size: 50px;
    font-family: 'Montserrat';
    font-weight: bold;
    color: #f5f1f1;
    position: relative;
    z-index: 999;

}

.tag {
    margin-left: 850px;
    font-size: 35px;
}

.cummay {
    display: flex;
    gap: 700px;

}

.maytrai {
    position: relative;
    top: -300px;
    left: -100px;
    animation: maybayphai 100s linear infinite;
    width: 500px;
    opacity: 0.78;

}

.cummayphai {
    display: flex;
    flex-direction: column;
}

.cummayphai img {
    width: 400px;
    opacity: 0.78;
}

.mayphai {
    position: relative;
    top: -450px;
    left: 200px;
    animation: maybaytrai 100s linear infinite;
}

.mayphai2 {
    position: relative;
    left: -200px;
    top: -200px;
    animation: maybaytrai 100s linear infinite;
}

.hero_btn {
    display: inline-block;
    background-color: #ffffff;
    padding: 15px 30px;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s, box-shadow 0.2s;
    position: relative;
    left: 320px;
}

.hero_btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.hero_btn_content {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #2aacc0;
    font-weight: bold;
    z-index: 999;

}


/* n/Hero */
@keyframes maybayphai {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(110vw);
        /* Di chuyển qua toàn màn hình */
    }
}

/* Keyframes cho chuyển động đám mây từ phải qua trái */
@keyframes maybaytrai {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-110vw);
    }
}