section {
    display: flex;
}

body {
    background: linear-gradient(180deg, rgba(101, 205, 234, 1.00) 0%, rgba(148, 225, 236, 1.00) 42.39996373653412%, rgba(108, 203, 217, 1.00) 66.13094806671143%);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: auto;


}

/* Header container */
.header {
    width: 100%;
    height: auto;

    padding: 20px 40px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 40px;
    z-index: 10;
    margin-bottom: 150px;
    overflow: hidden;
}
.header a {
    text-decoration: none;
}

/* Thanh điều hướng */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.hd-logo {
    position: relative;
    margin-right: 40px;
    top: -10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.hd-logo:hover {
    transform: scale(1.1);
    /* Phóng to */

    /* Đổ bóng */
}

.pagination {
    display: flex;
    gap: 100px;
}

.dashboard,
.taichinh,
.veminh {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out, font-weight 0.3s ease-in-out;
}

.dashboard:hover,
.taichinh:hover,
.veminh:hover {

    font-size: 22px;
    /* Tăng kích thước chữ khi hover */
    font-weight: 1000;
    /* Đậm hơn khi hover */
    cursor: pointer;

}


/* Nút đăng nhập */
.btn-login {
    background: #ffffff;
    border-radius: 40px;
    padding: 10px 20px;
    transition: transform 0.4s ease, background 0.3s ease;
}

.dangnhap {
    color: #2aacc0;
    font-size: 25px;
    font-weight: 700;
    transition: transform 0.4s ease, color 0.3s ease;
}

.btn-login:hover {
    background: #2aacc0;
    transform: scale(1.05);
    transform: translateY(-5px);
}

.btn-login:hover .dangnhap {
    color: #ffffff;
   
}



/* Hero */
.hero {

    display: flex;
    align-items: center;
    justify-content: center;
    /* Điều chỉnh khoảng cách giữa các phần tử */
    margin-top: 50px;



}

.hero_content {
    margin-top: 100px;
    position: relative;
    top: -50px;
    left: 50px;
    font-size: 50px;
    font-family: 'Montserrat';
    font-weight: bold;
    color: #f5f1f1;
    position: relative;
    z-index: 999;

}

.tag {
    margin-left: 850px;
    font-size: 35px;
}

.cummay {
    display: flex;
    gap: 700px;

}

.maytrai {
    position: relative;
    top: -300px;
    left: -100px;
    animation: maybayphai 100s linear infinite;
    width: 500px;
    opacity: 0.78;

}

.cummayphai {
    display: flex;
    flex-direction: column;
}

.cummayphai img {
    width: 400px;
    opacity: 0.78;
}

.mayphai {
    position: relative;
    top: -450px;
    left: 200px;
    animation: maybaytrai 100s linear infinite;
}

.mayphai2 {
    position: relative;
    left: -200px;
    top: -200px;
    animation: maybaytrai 100s linear infinite;
}

.hero_btn {
    display: inline-block;
    background-color: #ffffff;
    padding: 15px 30px;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s, box-shadow 0.2s;
    position: relative;
    left: 320px;
}

.hero_btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.hero_btn_content {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #2aacc0;
    font-weight: bold;
    z-index: 999;

}

@keyframes maybayphai {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(110vw);
        /* Di chuyển qua toàn màn hình */
    }
}

@keyframes maybaytrai {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-110vw);
    }
}

/* Hero */

/* Về mình */
.Veminh {
    font-weight: bold;
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;


}

.veminh-tieude {
    font-size: 40px;
    color: #f5f1f1;
}

.veminh-container {
    display: flex;
    margin: 0px 150px;
    gap: 50px;
    background-color: #f5f1f1;
    padding: 50px;
    border-radius: 20px;
    border: 4px solid black;
}

.veminh-mota {
    position: relative;
    top: 25px;
    font-size: 35px;
    width: 700px;
    color: #2aacc0;
}

.meopo {
    color: #1c7988;
}

/* n/Về mình */
/* Thể lệ */

.thele-container {
    width: 550px;
    margin: 70px 120px;
}

.thele-header {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    color: #00a651;
    font-weight: bold;
    font-size: 22px;
    padding: 30px;
    width: auto;
    border-radius: 30px;
    margin-bottom: 10px;
    text-align: center;
    border: 4px solid #00a651;
    margin-bottom: 20px;
    transition: all 0.4s ease-in-out;
}

.thele-header:hover {
    background-color: #00a651;
    color: #ffffff;
    font-size: 25px;
}

.thele-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Chia đều 3 cột */
    gap: 10px;
}

.item {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    font-weight: 700;
    color: #000;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    min-height: 100px;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: transform 0.3s ease-in-out;

}

.item.red {
    background-color: rgb(181, 9, 9);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(216, 77, 77);
    box-shadow: 0 4px 8px rgba(216, 77, 77, 0.5);
}

.item.green {
    background-color: #00a651;
    color: #ffffff;
    border: 2px solid #71e1a7;
    box-shadow: 0 4px 8px #00a651BF;
}

@keyframes random-scale {
    0% {
        transform: scale(1.);
    }

    50% {
        transform: scale(1.03);
    }

    100% {
        transform: scale(1);
    }
}

.thele-footer {
    background-color: #ffffff;
    color: #2aacc0;
    padding: 30px;
    margin-top: 10px;
    border-radius: 30px;
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    border: 4px solid #2aacc0;
    margin-top: 20px;
    transition: all 0.4s ease-in-out;
}

.thele-footer:hover {
    background-color: #2aacc0;
    color: #ffffff;
    font-size: 25px;
}

/* n/Thể lệ */
/* Nhiệm vụ và tính điểm */
/* Nhiệm vụ section */
.container-tong {
    display: flex;
    flex-wrap: wrap;
    /* Đảm bảo hiển thị tốt trên các màn hình nhỏ */
    justify-content: center;
    align-items: center;
    max-width: 90%;
    /* Giữ kích thước tối đa nhưng không tràn màn hình */
    padding: 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
}
.container-phai {
    margin-top: 60px;
    width: 550px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}

.nv-badge {
    background-color: #ffffff;
    color: #b7ce41;
    font-weight: bold;
    font-size: 22px;
    padding: 20px 10px;
    width: 300px;
    border-radius: 30px;
    margin-top: 20px;
    text-align: center;
    border: 4px solid #b7ce41;
    margin-bottom: 20px;
    position: relative;
    left: 80px;
    transition: all 0.4s ease-in-out;
}

.td-badge {
    background-color: #ffffff;
    color: #b7ce41;
    font-weight: bold;
    font-size: 22px;
    padding: 20px 10px;
    width: 300px;
    border-radius: 30px;
    margin-top: 20px;
    text-align: center;
    border: 4px solid #b7ce41;
    margin-bottom: 20px;
    position: relative;
    left: 80px;
    transition: all 0.4s ease-in-out;

}

/*n/Nhiệm vụ và tính điểm */




.custom-shape-divider-bottom-1739004864 {
    position: relative;
    top: 10px;
}

.custom-shape-divider-bottom-1739004864 .shape-fill {
    fill: #ffffff;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 392px;
    position: relative;
   overflow: hidden;
   
}

.ft-tag {
    display: flex;
    justify-self: center;
    align-items: center;
    text-align: center;
    color: #000000;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 600;
    margin-top: 50px;
    ;

}

.ft-content {
    display: flex;
    flex-direction: row;
    gap: 200px;
    align-items: center;
    justify-content: center;
   
}

.ft-logo {
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 223px;
    position: relative;
}

.logo {
    width: 200px;
    align-self: stretch;
    flex-shrink: 0;
    height: auto;
    position: relative;
    object-fit: cover;
    left: 25px;
}

.meopo-2025 {
    color: #000000;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 700;
    position: relative;
    align-self: stretch;
}

.lienhe {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 251px;
    position: relative;
}

.khung-lh {
    display: flex;
    flex-direction: column;
    gap: 31px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.lh-title {
    color: #000000;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 25px;
    font-weight: 700;
    position: relative;
    align-self: stretch;
}

.ft-khung-lien-he {
    display: flex;
    flex-direction: column;
    gap: 17px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.email {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    gap: 17px;
}

.gmail-logo {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    position: relative;
    object-fit: cover;
}

.vxkhoi-gmail-com {
    color: #000000;
    text-align: left;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 700;
    position: relative;}


.linkedin {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    gap: 17px;
}

.linked-in {
    flex-shrink: 0;
    width: 30px;
    height: 32px;
    position: relative;
    object-fit: cover;
}

.linked-com-vxlkhoi {
    color: #000000;
    text-align: left;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 700;
    position: relative;
   
}

.insta {
    display: flex;
    flex-direction: row;
    gap: 17px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.instagram {
    flex-shrink: 0;
    width: 30px;
    height: 34px;
    position: relative;
    object-fit: cover;
}

.whyde-e-4-rth {
    color: #000000;
    text-align: left;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 700;
    position: relative;
    text-decoration: none;
}
.lienhe a{
    text-decoration: none;
}

.thongtin {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 453px;
    position: relative;
}

.khung-tt {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    top:-20px;
}

.tt-title {
    color: #000000;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 25px;
    font-weight: 700;
    position: relative;
    align-self: stretch;
}

.tt-content {
    color: #000000;
    text-align: left;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 700;
    position: relative;
}
.desktop-1{
    display: none;
}

